/*
*--- FONT SIZE SYSTEM (px) ---
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

REM = Desired Font Size / Default Font Size
REM = 10 px / 16 px = 0.6250 = 62.5%

*--- FONT WEIGHTS ---
400 / 500 / 600 / 700

*--- LINE HEIGHT ---
1 / 1.05 / 1.2 / 1.6 / 1.8

*--- LETTER SPACING (px)---
-0.5 / -1 / 0.75

*--- COLORS ---
Primary:
#88B293

Tints:
#dce1cb
#B0C7AE 

Shades:
#426249

Accents:
#D08A5B 

Grays:
#fff

Transparent:
#88B293e0

*--- SHADOWS ---

*--- WHITESPACE ---*
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*--- BORDER RADIUS (px) ---
7 / 9 / 11

*/

:root {
  /* TITLE: FONT SIZE SYSTEM */
  --fs-10: clamp(0.6rem, calc(1vw + 0.2rem), 1rem); /* 10px */
  --fs-12: clamp(0.75rem, calc(1vw + 0.3rem), 1.2rem); /* 12px */
  --fs-14: clamp(0.875rem, calc(1vw + 0.4rem), 1.4rem); /* 14px */
  --fs-16: clamp(1rem, calc(1vw + 0.5rem), 1.6rem); /* 16px */
  --fs-18: clamp(1.125rem, calc(1.2vw + 0.6rem), 1.8rem); /* 18px */
  --fs-20: clamp(1.25rem, calc(1.4vw + 0.7rem), 2rem); /* 20px */
  --fs-24: clamp(1.5rem, calc(2vw + 0.8rem), 2.4rem); /* 24px */
  --fs-30: clamp(1.875rem, calc(2.5vw + 1rem), 3rem); /* 30px */
  --fs-36: clamp(2.25rem, calc(3vw + 1.2rem), 3.6rem); /* 36px */
  --fs-44: clamp(2.75rem, calc(3.5vw + 1.5rem), 4.4rem); /* 44px */
  --fs-52: clamp(3.25rem, calc(4vw + 1.8rem), 5.2rem); /* 52px */
  --fs-62: clamp(3.875rem, calc(5vw + 2rem), 6.2rem); /* 62px */
  --fs-74: clamp(4.625rem, calc(6vw + 2.5rem), 7.4rem); /* 74px */
  --fs-86: clamp(5.375rem, calc(7vw + 3rem), 8.6rem); /* 86px */
  --fs-98: clamp(6.125rem, calc(8vw + 3.5rem), 9.8rem); /* 98px */

  /* TITLE: WHITESPACE SYSTEM */
  --space-02: clamp(0.12rem, 0.3vw, 0.25rem); /* 2px */
  --space-04: clamp(0.25rem, 0.5vw, 0.4rem); /* 4px */
  --space-08: clamp(0.5rem, 1vw, 0.8rem); /* 8px */
  --space-12: clamp(0.75rem, 1.2vw, 1.2rem); /* 12px */
  --space-16: clamp(1rem, 1.5vw, 1.6rem); /* 16px */
  --space-24: clamp(1.5rem, 2vw, 2.4rem); /* 24px */
  --space-32: clamp(2rem, 2.5vw, 3.2rem); /* 32px */
  --space-48: clamp(3rem, 3.5vw, 4.8rem); /* 48px */
  --space-64: clamp(4rem, 5vw, 6.4rem); /* 64px */
  --space-80: clamp(5rem, 6vw, 8rem); /* 80px */
  --space-96: clamp(6rem, 7vw, 9.6rem); /* 96px */
  --space-128: clamp(8rem, 9vw, 12.8rem); /* 128px */

  /* TITLE: COLORS */

  /* PRIMARY */
  --primary-100: #88b293;

  /* TINTS */
  --tint-100: #dce1cb;
  --tint-200: #b0c7ae;

  /* SHADES */
  --shade-100: #426249;

  /* ACCENTS */
  --accent-100: #d08a5b;

  /* GRAYS */
  --gray-100: #fff;
}

@import url("https://fonts.googleapis.com/css2?family=Alice&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--shade-100);
  font-weight: 500;
  background-color: var(--tint-100);
  overflow-x: hidden;
}

.logo {
  height: var(--fs-36);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: "Alice", serif;
}

.heading-primary {
  font-size: var(--fs-52);
  font-weight: 400;
  letter-spacing: -1px;

  margin-bottom: var(--space-24);
}

.heading-secondary {
  font-size: var(--fs-44);
  font-weight: 400;
  letter-spacing: -1px;

  margin-bottom: var(--space-32);
}

.heading-tertiary {
  font-size: var(--fs-30);
  font-weight: 400;
  letter-spacing: -1px;

  margin-bottom: var(--space-24);
}

.heading-title {
  font-size: var(--fs-12);
  font-weight: 800;
  letter-spacing: 1.6px;
  color: var(--accent-100);
  padding-left: var(--space-04);
}

.text {
  font-size: var(--fs-14);
  letter-spacing: 0.6px;
}

.text-separator {
  padding: 0 var(--space-04);
}

.container {
  width: clamp(32rem, 86vw, 120rem);
  margin: 0 auto var(--space-128);
}

.list {
  list-style: none;
}

/* TITLE: GRIDS */
.grid {
  display: grid;
  gap: var(--space-48);
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* TITLE: LINKS */
.btn,
.link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:active,
.link:hover,
.link:active {
  transition: all 0.3s ease-in-out;
}

.btn {
  font-family: inherit;
  font-size: var(--fs-16);
  font-weight: 600;
  text-wrap: nowrap;

  border: 2px solid;
  border-radius: 100px;
  padding: var(--space-12) var(--space-32);
}

.link {
  position: relative;
  color: var(--accent-100);
  border-bottom: var(--accent-100) 1px solid;
}

.link::after {
  content: "→";

  position: absolute;
  opacity: 0;
  transform: translateX(-5px);

  transition: all 0.3s ease-in-out;
}

.link:hover,
.link:active {
  transform: translateX(-1rem);
  border-bottom: transparent 1px solid;
}

.link:hover::after,
.link:active::after {
  opacity: 1;
  transform: translateX(5px);
  transition: all 0.3s ease-in-out;
}

.link-more {
  cursor: pointer;
  text-align: end;
  margin-block: var(--space-04);
  padding: var(--space-08);
}

.btn--cta {
  font-weight: 800;
  letter-spacing: 1px;
  color: var(--gray-100);
  background: var(--accent-100);
  border-color: var(--accent-100);
}

.btn--cta:hover,
.btn--cta:active {
  filter: brightness(90%);
}
