/* GROUP: NAV */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-24);

  width: clamp(32rem, 80vw, 120rem);
  margin: var(--space-24) auto;
}

.header-nav {
  height: 6.2rem;
  border-radius: 11px;

  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: var(--space-24);
}

.header-links:link,
.header-links:visited {
  color: var(--shade-100);
  font-size: var(--fs-16);
  font-weight: 600;

  display: inline-block;
  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

.header-links:hover,
.header-links:active {
  color: var(--accent-100);
}

/* My version of hamburger menu that doesnt work properly

@media screen and (max-width: 48em) {
  #toggle,
  .menu-icon {
    display: none;
  }

  .menu-icon-box::before #toggle {
    justify-content: flex-end;
  }

  #toggle:checked ~ .header-nav,
  #toggle:checked ~ .menu-background {
    display: block;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s ease-in-out;
  }

  .header-nav {
    position: absolute;
    inset: 6.2rem 0 auto auto;
    z-index: 99;

    opacity: 0;
    transform: translateX(100%);
  }

  .menu-background {
    position: absolute;
    inset: 0 0 auto auto;
    z-index: 98;

    background-color: #426249db;
    backdrop-filter: blur(4px);
    width: 40vw;
    height: 100vh;

    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
  }

  .menu-icon {
    position: absolute;
    display: flex;
    inset: 2rem 2rem auto auto;
    cursor: pointer;
    z-index: 9999;

    width: var(--fs-24);
    height: var(--fs-24);
  }

  .menu-icon:hover.menu-icon > span,
  .menu-icon:active.menu-icon > span,
  .menu-icon:hover.menu-icon > span::before,
  .menu-icon:active.menu-icon > span::before,
  .menu-icon:hover.menu-icon > span::after,
  .menu-icon:active.menu-icon > span::after {
    border-color: var(--accent-100);
    transition: all 0.3s ease-in-out;
  }

  .menu-icon > span {
    justify-self: center;
    width: 100%;
    height: 2px;
    border-radius: 9px;
    border: var(--shade-100) 2px solid;
    transition: all 0.3s ease-in-out;
    background-color: var(--shade-100);
  }

  .menu-icon > span::before,
  .menu-icon > span::after {
    content: "";
    display: flex;
    justify-self: c;
    position: absolute;
    left: 0;
    width: 85%;
    border-radius: 9px;
    border: var(--shade-100) 2px solid;
    transition: all 0.3s ease-in-out;
  }

  .menu-icon > span::before {
    top: -8px;
  }

  .menu-icon > span::after {
    top: 8px;
  }

  #toggle:checked ~ .menu-icon > span::before,
  #toggle:checked ~ .menu-icon > span::after {
    top: 0;
    border-color: var(--accent-100);
    transition: all 0.3s ease-in-out;
  }

  .header-menu {
    height: 100vh;
    height: 100dvh;
    width: 40vw;
    flex-direction: column;
  }

  .header-links:link,
  .header-links:visited {
    color: var(--tint-100);
  }

  .header-links:hover,
  .header-links:active {
    color: var(--accent-100);
  }
} */

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 48em) {
  body:has(.hamburger-menu input:checked) {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .hamburger-menu {
    display: block;
  }

  .nav-container {
    position: relative;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--space-08);
    width: fit-content;
    cursor: pointer;

    position: absolute;
    inset: 2rem 2rem auto auto;
    z-index: 999;
  }

  .hamburger-menu *:focus {
    outline: none;
    box-shadow: none;
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--fs-44);
    height: 4px;
    border-radius: 100px;
    background-color: var(--shade-100);
    transition: all 0.3s ease-in-out;
  }

  .hamburger-menu:hover.hamburger-menu::before,
  .hamburger-menu:hover.hamburger-menu::after,
  .hamburger-menu:hover.hamburger-menu input,
  .hamburger-menu:active.hamburger-menu::before,
  .hamburger-menu:active.hamburger-menu::after,
  .hamburger-menu:active.hamburger-menu input {
    transition: all 0.3s ease-in-out;
    background-color: var(--accent-100);
  }

  .hamburger-menu input {
    appearance: none;
    transition: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  .hamburger-menu:has(input:checked)::before {
    transform: translateY(8px);
    background-color: var(--accent-100);
    height: 0;
  }

  .hamburger-menu:has(input:checked)::after {
    transform: translateY(-8px);
    background-color: var(--accent-100);
    height: 0;
  }

  .hamburger-menu input:checked {
    background-color: var(--accent-100);
  }

  .header-menu {
    flex-direction: column;
    gap: var(--space-48);
    align-items: flex-start;
    position: absolute;
    inset: -2rem -4rem auto auto;
    translate: 100%;
    transition: all 0.3s ease-in-out;

    min-width: 40vw;
    min-height: 110vh;
    min-height: 110dvh;
    padding: var(--space-96) var(--space-24);
    background-color: #426249db;
    backdrop-filter: blur(5px);
    z-index: 99;
  }

  .hamburger-menu:has(input:checked) + .header-nav > .header-menu {
    translate: 0;
    transition: all 0.3s ease-in-out;
  }

  .header-menu .btn--cta {
    font-size: var(--fs-18);
  }

  .header-links:link,
  .header-links:visited {
    font-size: var(--fs-20);
    color: var(--tint-100);
  }

  .header-links:hover,
  .header-links:active {
    color: var(--accent-100);
  }
}

/* GROUP: HERO */
.section-hero {
  min-height: calc(100vh - 11rem);
  min-height: calc(100dvh - 10rem);

  align-content: center;
  padding: 0 var(--space-48);
}

.hero-container {
  width: clamp(30rem, 86vw, 120rem);
  margin: 0 auto;

  justify-self: center;
  align-items: center;
}

.hero-grid {
  margin: 0 auto var(--space-64);
}

.hero-para {
  margin-bottom: var(--space-48);
}

.hero-img-container {
  overflow: hidden;
}

.hero-img {
  width: 100%;
  border-radius: 9px;
  display: block;
  transition: all 0.3s ease-in-out;
}

.hero-img:hover {
  transform: scale(1.05);
  border-radius: 9px;
}

.hero-btn {
  display: flex;
  gap: var(--space-24);
}

.btn--hero {
  color: var(--shade-100);
  background: var(--tint-200);
  border-color: var(--primary-100);
}

.btn--hero .link {
  color: var(--shade-100);
  border: none;
}

.btn--hero:hover,
.btn--hero:active {
  background-color: var(--gray-100);
}

/* GROUP: ABOUT */
.about-container {
  color: var(--gray-100);
  padding: var(--space-48);
  margin: 0 auto var(--space-96);
}

.section-about {
  background-color: var(--shade-100);
}

.grid--about {
  display: grid;
  gap: var(--space-48);
  grid-template-columns: 60fr 40fr;
}

.about-stats {
  display: flex;
  justify-content: center;
  gap: var(--space-16);
}

.stats-separator {
  border: var(--gray-100) 1px solid;
  border-radius: 11px;
}

.section-about strong {
  font-size: var(--fs-44);
  font-weight: 700;
}

.section-about span {
  color: var(--accent-100);
  font-size: var(--fs-24);
  font-weight: 700;
}

.about-para {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-para em {
  color: var(--accent-100);
  font-weight: 700;
}

/* GROUP: HOW */
.grid--how {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-48);
}

.section-how li {
  display: flex;
  flex-direction: column;
}

.how-icons {
  height: var(--fs-24);
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 7.4rem;
  width: 7.4rem;
  font-size: var(--fs-36);
  font-weight: 700;

  color: var(--tint-100);
  background-color: var(--primary-100);
  border-radius: 50%;

  margin-bottom: var(--space-24);
}

.steps-container {
  display: flex;
  position: relative;
}

.step-number-line {
  position: absolute;
  inset: 35% 0 auto auto;

  width: 70%;
  border: var(--primary-100) 3px solid;
  border-radius: 11px;
}

/* GROUP: Services */
.services {
  transition: all 0.3s ease-in-out;
}

.services:hover {
  transform: translateY(-1rem) translateX(1rem);
  box-shadow: -1rem 1rem 1.4rem var(--accent-100) 20;
  transition: all 0.3s ease-in-out;
}

.services-img {
  width: 100%;
}

.services-heading {
  font-size: var(--fs-20);
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
}

.services {
  border: var(--shade-100) 2px solid;
  border-radius: 11px;
  background-color: var(--tint-200);

  overflow: hidden;
}

.services-text {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  padding: var(--space-12) var(--space-24) var(--space-24);
}

.services ul {
  font-size: var(--fs-12);
  letter-spacing: 0.4px;

  display: flex;
  flex-direction: column;
  gap: var(--space-12);
}

/* GROUP: TEAM */
.experts {
  position: relative;
  border-radius: 7px;
  overflow: hidden;
}

.experts-img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.experts-name {
  font-size: var(--fs-20);
  font-weight: 600;
  letter-spacing: -1px;
}

.expert-text {
  position: absolute;
  inset: auto auto 0 0;
  height: 25%;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--space-04);

  padding: var(--space-12) var(--space-24) var(--space-24);

  font-size: var(--fs-12);
  letter-spacing: 0.4px;
  color: var(--shade-100);
  background-color: #88b293db;

  opacity: 0;
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
}

.experts:hover .expert-text {
  opacity: 1;
  transform: translateY(0);

  transition: all 0.3s ease-in-out;
}

.experts:hover .experts-img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

/* GROUP: TESTIMONIALS */
.testi-gal-container {
  background-color: var(--tint-200);
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0 auto var(--space-128);
  padding: var(--space-24) var(--space-48);
}

.section-testimonials figure {
  display: flex;
  flex-direction: column;
  flex: 1 0 45%;
  background: var(--primary-100);
  border-radius: 11px;
  padding: var(--space-24);
}

.comments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: var(--space-24);
}

.customer {
  display: flex;
  align-items: center;
  gap: var(--space-12);
}

.quote {
  font-size: var(--fs-16);
  letter-spacing: 0.4px;
}

.quote::first-letter {
  padding-left: var(--space-24);
}

.text-line {
  width: 100%;
  border: var(--shade-100) 1px solid;
  border-radius: 11px;
  margin-block: var(--space-12);
}

.customer-img {
  height: 3.6rem;
  width: auto;
  border-radius: 50%;
}

.customer-name {
  font-size: var(--fs-16);
  font-weight: 600;
  text-wrap: nowrap;
}

.customer-date {
  margin-left: auto;
}

.section-testimonials .link-more {
  text-align: start;
}

/* GROUP: GALLERY */
.grid--tesi-gal {
  display: grid;
  grid-template-columns: 65fr 35fr;
}

.section-gallery {
  margin: auto 0;
  border-radius: 11px;
  overflow: hidden;
}

.grid--gallery {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: var(--space-08);
}

.gal-img-1 {
  grid-area: 1 / 1 / 2 / 3;
}

.gal-img-2 {
  grid-area: 1 / 3 / 2 / 5;
}

.gal-img-3 {
  grid-area: 2 / 1 / 3 / 2;
}

.gal-img-4 {
  grid-area: 2 / 2 / 3 / 4;
}

.gal-img-5 {
  grid-area: 2 / 4 / 3 / 5;
}

.gal-img-6 {
  grid-area: 3 / 1 / 5 / 3;
}

.gal-img-7 {
  grid-area: 3 / 3 / 5 / 5;
}

.gal-img {
  overflow: hidden;
}

.gal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.gal-img img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* GROUP: PRICING */
.pricing-heading {
  text-align: center;
}

.pricing-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
}

.package {
  border-radius: 25px;
  background-color: var(--tint-200);
  padding: var(--space-64) var(--space-32);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: var(--space-32);
}

.package-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-08);
}

.package-title {
  font-size: var(--fs-20);
  text-align: center;
  font-weight: 600;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-04);
}

.price-symbol {
  font-size: var(--fs-24);
  font-weight: 600;
  transform: translateY(20%);
}

.Price {
  font-size: var(--fs-62);
  font-weight: 700;
}

.service-btn-container {
  display: flex;
  justify-content: center;
}

.btn--service {
  color: var(--shade-100);
  background-color: var(--tint-100);
  border-color: var(--shade-100);
}

.btn--service:hover,
.btn--service:active {
  color: var(--tint-100);
  background-color: var(--shade-100);
}

.package-traits {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);

  padding: var(--space-12) var(--space-24) var(--space-24);
}

/* .signature-package::after {
  position: absolute;

  content: "best value";
  inset: 35px -50px auto auto;
  font-size: var(--fs-16);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--gray-100);
  background-color: var(--accent-100);

  padding: var(--space-04) var(--space-48);
  transform: rotate(45deg);
} */

.package.signature-package {
  position: relative;
  color: var(--gray-100);
  background-color: var(--shade-100);
}

.package.signature-package .btn--service {
  border-color: var(--gray-100);
}

.package.signature-package.btn--service:hover,
.package.signature-package.btn--service:active {
  color: var(--shade-100);
  background-color: var(--tint-100);
}

.more-pricing-options {
  display: flex;
  gap: 1.4rem;
}

.more-pricing-options-half {
  display: flex;
  gap: 1.4rem;
}

.more-pricing-options ion-icon {
  padding-right: var(--space-04);
}

/* GROUP: FAQ */
.faq-tips-container {
  width: clamp(32rem, 86vw, 120rem);
  margin: 0 auto var(--space-128);

  position: relative;
}

.faq-tips-container .heading-tertiary {
  text-align: center;
}

.faq-tips-container::before,
.faq-tips-container::after {
  content: "";
  position: absolute;
  background-color: var(--tint-200);
}

.faq-tips-container::before {
  top: var(--fs-44);
  height: 2px;
  width: 100%;
}

.faq-tips-container::after {
  left: 50%;
  height: 100%;
  width: 2px;
}

.faq input[type="radio"] {
  display: none;
}

.ques-ans {
  padding-block: var(--space-12);
  border-bottom: var(--primary-100) 1px solid;
}

.ques {
  font-size: var(--fs-18);
  background-color: var(--tint-200);
  border-radius: 7px;

  cursor: pointer;
  display: block;
  padding: 1rem;
}

.ques:hover,
.ques:active {
  filter: brightness(90%);
  transition: all 0.3s ease-in-out;
}

.ques-ans-wrapper {
  font-size: var(--fs-14);
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.ans {
  padding-left: 1rem;
}

.accordion input:checked + .ques-ans .ques-ans-wrapper {
  height: 3.6rem;
  transition: all 0.3s ease-in-out;
}

/* GROUP: TIPS */
.tips-container ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-32);
}

.tips-link {
  display: flex;
  gap: 2rem;

  text-decoration: none;
}

.tips-text {
  align-self: flex-end;

  font-size: var(--fs-18);
  color: var(--shade-100);
  border-bottom: var(--shade-100) 1px solid;
}

.tips-text::after {
  color: var(--accent-100);
}

.tips-text:hover,
.tips-text:active {
  color: var(--accent-100);
  border-bottom: transparent 1px solid;
}

.tips-container img {
  height: 6.2rem;
  width: 6.2rem;
  object-fit: cover;
  border-radius: 7px;
}

/* GROUP: FOOTER */
.footer {
  background-color: var(--shade-100);
}

.footer-container {
  letter-spacing: 1px;
  line-height: 1.2;
  color: var(--gray-100);
  width: clamp(32rem, 86vw, 120rem);

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer-top {
  font-size: var(--fs-12);
  padding-block: var(--space-48) var(--space-24);
  border-bottom: var(--tint-100) 1px solid;
}

.footer-top > * {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
}

.footer-top-link:link,
.footer-top-link:visited {
  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

.footer-top-link:hover,
.footer-top-link:active {
  filter: brightness(80%);
  transition: all 0.3s ease-in-out;
}

.footer-title {
  font-weight: 600;
}

.footer-link {
  color: var(--gray-100);
  border: none;
}
.footer-link:hover,
.footer-link:active {
  border: none;
}

.footer-end {
  font-size: var(--fs-10);

  display: flex;
  justify-content: space-between;
  gap: var(--space-12);
  padding-block: var(--space-12);
}

.policy-terms {
  display: flex;
  gap: var(--space-24);
}
